@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
  background: linear-gradient(135deg, #021b79 0%, #0575e6 40%, #20e2d7 100%);
}
footer{
  margin-top: 1800px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding-left: 260px;
}
.circle{
  position: absolute;
  top: 520px;
  left: 250px;
  z-index: 1;
  
  height: 500px;
  width: 500px;
  border: rgba(255, 255, 255, 0.8) 0.05px solid;
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation-name: motion;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
#pre1{
  font-size: 100px;
  font-weight: bolder;
  font-family: "Pacifico", cursive;
  padding-left: 132px;
  padding-top: 54px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  color: rgba(255,255,255,0.9);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
  visibility: visible;
}
@keyframes motion{
  0%{
    scale: 1.05;
  }
  50%{
    scale: 1;
  }
  100%{
    scale: 1.05;
  }
}
.hide{
  visibility: hidden;
}
.circle:hover{
  #pre1{
    visibility: hidden;
  }
  .hide{
    visibility: visible;
    transition-delay: 2s;
    transition: 1s;
  }
  border-radius: 20px;
  width: 90%;
  height: 90%;
  transition: 2s;
  left: 45px;
  top: 70px;
  .section{
    font-size: 40px;
    font-weight: bolder;
    transition-delay: 1s;
    transition: 1s;
    position: absolute;
    top: 160px;
    left: 50px;
    z-index: 2;
    width: 700px;
    height: 500px;
    color: whitesmoke;
  }
    #f{
      border: 0px solid black;
      border-radius: 10px;
      position: absolute;
      top: 1000px;
      left: 40px;
      z-index: 3;
      height: 5%;
      width: 90%;
      font-size: 40px;
      font-weight: bolder;
      text-align: center;
      padding-top: 30px;
      background-color: rgba(20,20,255,0.5);
    }
  #w{
      border: 0px solid black;
    border-radius: 10px;
      position: absolute;
      top: 1110px;
      left: 40px;
      z-index: 3;
      height: 5%;
      width: 90%;
     font-size: 40px;
      font-weight: bolder;
      text-align: center;
      padding-top: 30px;
      background-color: rgba(0,255,0,0.5);
    }
  #t{
      border: 0px solid black;
    border-radius: 10px;
      position: absolute;
      top: 1220px;
      left: 40px;
      z-index: 3;
      height: 5%;
      width: 90%;
     font-size: 40px;
      font-weight: bolder;
      text-align: center;
      padding-top: 30px;
      background-color: rgba(20,100,255,0.6);
    }
  a{
    text-decoration: none;
    color: white;
}