@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
  background-color: #f0f2f5;
}
.header{
  position: fixed;
  top: 650px;
  left: 100px;
  
  height: 500px;
  width: 80%;
  border: solid 0px;
  border-radius: 50px;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  transition: all 1s ease-in-out;
  overflow: hidden;
  isolation: isolate;
}
#hello{
  border: solid 1px rgba(255, 255, 255, 0.4);
  border-radius: 200px;
  position: fixed;
  top: 610px;
  left: 340px;
  z-index: 1;
  
  display: flex;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: bolder;
  font-family: 'Agbalumo', system-ui;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
#text{
  transition: opacity 0.5s ease-in-out, font-size 0.01s ease-in-out;
  opacity: 1; 
  
}
#click{
  position: fixed;
  top: 1040px;
  left: 415px;
  z-index: 1;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  font-family: -apple-system, "Inter", sans-serif;
  
  display: flex;
  width: 150px;
  height: 75px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: #555;
  animation-name: click;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
  #click:hover{
    scale: 0.8;
    transition: 0.3s;
  }
@keyframes click{
  0%{
    scale: 1;
  }
  25%{
    scale: 1.2;
  }
  50%{
    scale: 1;
  }
  100%{
    scale: 1.2;
  }
}




.pio{
  opacity: 0;
  transition: opacity 0.5s ease-in-out; 
  overflow: hidden;
  isolation: isolate;
}
#name{
  position: fixed;
  top: 40px;
  left: 200px;
  
  font-size: 70px;
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
  color: aliceblue;
}
#mark{
  position: fixed;
  top: 100px;
  left: 720px;
  
  height: 110px;
  width: 160px;
}
#words{
  position: fixed;
  top: 250px;
  left: 70px;
  
  font-size: 40px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  
}
#word{
  border: solid 2px white;
  border-radius: 30px;
  height: 100px;
  width: 800px;
  padding-top: 40px;
  padding-left: 30px;
  background-color: rgba(255,255,255,0.2);
  color: rgba(0,0,0,0.5);
}
a{
  position: fixed;
  top: 1400px;
  left: 90px;
  text-decoration: none;
  transition: opacity 1s;
}
#f{
  margin-left: 290px;
}
#w{
  margin-left: 580px;
}
#back{
  opacity: 0;
  position: fixed;
  top: 1650px;
  left: 410px;
  
  border: solid 1px white;
  border-radius: 60px;
  width: 160px;
  height: 90px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  color: #555;
  animation-name: back;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}
#back:hover{
  scale: 0.8;
  transition: 0.3s;
}
@keyframes back{
  0%{
    scale: 1;
  }
  25%{
    scale: 1.2;
  }
  50%{
    scale: 1;
  }
  100%{
    scale: 1.2;
  }
}






#fotter{
  position: fixed;
  top: 1820px;
  left: 285px;
  z-index: 2;
  
  font-size: 20px;
  font-weight: bold;
  color: gray;
}